@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    height: 10vw;
    min-height: 20px;
    max-height: 80px;
    background-color: #C4170C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

header img {
    height: 6vw;
    min-height: 20px;
    max-height: 45px;
}

#menu-hamburguer {
    font-weight: 100;
    font-size: 26px;
}

#search {
    font-weight: 100;
    font-size: 26px;
}



