@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body, html {
    background-color: #EEEEEE;
}

header {
    height: 10vw;
    min-height: 20px;
    max-height: 80px;
    background-color: #C4170C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

header img {
    margin: 0px 0px 0px 0px;
    height: 6vw;
    min-height: 15px;
    max-height: 45px;
}

.menu-hamburguer {
    font-weight: 100;
    font-size: 26px;
}

.search {
    font-weight: 100;
    font-size: 26px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #A6130A;
    cursor: pointer;
}

.noticia-comum {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 15px 0px 15px 0px;
}

.destaque-noticia {
    margin: 25px 0px 4px 25px;
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.3px;
    color: #333333;
    font-weight: 600;
}

.titulo-noticia-comum h2{
    margin: 4px 40px 25px 25px;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: #C4170C;
    text-decoration: none;
}

.imagem-noticia-comum img{
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.tempo-assunto{
    color: #555555;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.1px;
    font-weight: light;
    margin: 10px 0px 18.5px 25px;
}

.sub-divisao{
    align-self: center;
    width: 88vw;
    margin: 0px 0px 16px 0px;
}

.sub-divisao hr{
    border-color: #a2a2a22d;
}

.sub-noticia-comum-1 h3{
    margin: 10px 10px 22px 25px;
    font-weight: bold;
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.3px;
    color: #C4170C;
}

.sub-noticia-comum-2 h3{
    margin: 10px 10px 18px 25px;
    font-weight: bold;
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.3px;
    color: #C4170C;
}

.fim-section {
    display: none;
} 

footer {
    background-color: #C4170C;
    height: 140px;
    padding: 18px 13px;
    color: #FFFFFF;
}

footer img {
    height: 32px;
}

footer > p {
    margin-top: 7px;
    margin-bottom: 25px;
    font-weight: light;
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: -0.2px;
}

footer small {
    font-weight: light;
    font-size: 10px;
    line-height: 17.6px;
    letter-spacing: 0.1;
}

